<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.myapp">
    <!-- 打电话的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <permission android:name="android.permission.CALL_PRIVILEGED"/> <!-- 网络的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission
            android:name="android.permission.BLUETOOTH_ADMIN"/> <!-- Include following permission if you want to cache images on SD card -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
            android:name=".CustomApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".ui.main.activity.HanZiActivity">
        </activity>
        <activity android:name=".ui.main.activity.SocketActivity">
        </activity>
        <activity android:name=".ui.main2.cooking.FoodBookDetailActivity">
        </activity>
        <activity
                android:name=".ui.main2.cooking.AddFoodBookActivity"
                android:label="">
        </activity>
        <activity android:name=".ui.main.activity.PrivateActivity">
        </activity>
        <activity android:name=".ui.main.activity.FolderActivity">
        </activity>

        <meta-data
                android:name="com.google.android.actions"
                android:resource="@xml/file_paths_public"/>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.szt.myapplicationee.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths_public"/>
        </provider>

        <activity android:name=".ui.main.activity.AddGestureActivity">
        </activity>
        <activity android:name=".ui.main.activity.GestureActivity">
        </activity>
        <activity android:name=".ui.main.activity.BigPicActivity">
        </activity>
        <activity android:name=".ui.main.activity.SeeActivity">
        </activity>
        <activity android:name=".ui.main.activity.AsyncActivity">
        </activity>
        <activity android:name=".ui.main.activity.TimeActivity">
        </activity>
        <activity android:name=".ui.main.activity.SeekBarActivity">
        </activity>
        <activity android:name=".ui.main.activity.SwitchActivity">
        </activity>
        <activity android:name=".ui.main.activity.ProgressBarActivity">
        </activity>
        <activity android:name=".ui.main2.activity.CreateZxingActivity">
        </activity>
        <activity android:name=".ui.FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.main2.Main2Activity"
                android:label="@string/app_main"
                android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.main.MainActivity">
        </activity>
    </application>

</manifest>